@charset "utf-8";

.navbar-brand .logoN {
	max-height: 40px; /* Imposta l'altezza massima del logo */
	width: auto; /* Mantieni la proporzione dell'immagine */
}

.navbar {
	justify-content: center;
}

.navbar .container-fluid {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px; /* Imposta una larghezza massima per la navbar */
	margin: 0 auto; /* Centra la navbar con margini automatici */
}

.navbar-brand {
	margin-right: auto;
}

.navbar-collapse {
	flex-grow: 0;
}

.btn.btn-warning, .dropdown-menu.bg-warning, .btn-warning, .bi-search {
	background-color: #007bff !important;
	/* Cambia il colore di sfondo a blu */
	border-color: #007bff !important;
	/* Cambia il colore del bordo a blu */
	color: white !important; /* Cambia il colore del testo a bianco */
}

.dropdown-menu .dropdown-item:hover {
	background-color: #0056b3 !important;
	/* Cambia il colore di sfondo al passaggio del mouse */
	color: white !important; /* Mantieni il colore del testo bianco */
}

.booking-card {
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 15px;
}

.booking-card img {
	width: 100%;
	height: 315px; /* Imposta un'altezza fissa per tutte le immagini */
	object-fit: cover;
	/* Ritaglia e ridimensiona l'immagine per coprire l'area definita */
}

.booking-card-body {
	padding: 15px;
}

.badge-custom {
	background-color: #ff3d00;
	color: #fff;
}

.price {
	color: green;
	font-weight: bold;
}

.rating {
	color: #fff;
	background-color: #007bff;
	border-radius: 50%;
	padding: 5px 10px;
	margin-left: 10px;
}

