@charset "utf-8";

.navbar-brand .logoN {
            max-height: 40px; /* Imposta l'altezza massima del logo */
            width: auto; /* Mantieni la proporzione dell'immagine */
        }
        
        .navbar {
            justify-content: center;
        }

        .navbar .container-fluid {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .navbar-brand {
            margin-right: auto;
        }

        .navbar-collapse {
            flex-grow: 0;
        }